.white{
	color: white;
}

#hdr {
	background-image: url("../image/large.jpg");
	background-repeat:repeat;
	height: 35em;
	background-size: cover;
}

#bgt {
	background-color: rgba(0, 0, 0, .3);
	height: 35em;
}

#bgt2 {
	background-color: rgba(0, 0, 0, 0);
	color: white;
}

#bgt3 {
	background-color: rgba(51, 122, 183, 0.7) !important;
	color: white;
	
}

.white2 {
	color: white;
	font-size: 1.2em;
}

.mgt2 {
	margin-top: 2%;
}

.title {
	padding: 10%;
	position: absolute;
}

#fll {
	float: left;
}

#flr {
	float: right;
}

.boton {
	border-radius: 1em;
	border: .2em solid white;
}

.pdt5 {
	padding: 2%;
}

.fz2 {
	font-size: 2em;
}

#servicios {
	padding: 5%;
}

#shadow {
	margin-left: 30%;
	width: 10em;
	height: 10em;
	box-shadow: 5px 5px 5px #999;
	border-radius: 50%;
	padding: 15%;	
}

#Ejemplo {
 	padding: 5%;
}

.user {
	width: 60%;
	margin: 0;
	bottom: 3%;
	float: right;
}

#Ejemplo h2 {
	margin: 0;
	font-size: 3em;
}

.mgt3 {
	margin: 3%;
}

.flecha {
	margin-left: 40%;
}

.imgsec2{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

#Pasos {
	padding: 0;
	margin:  0;
	border-bottom: 1px solid #777;
	border-top: 1px solid #777;
}

#opacity {
	background-image: url("../image/sec-2.jpg");
	height: 42em;
	background-size: cover;
	padding: 0;
	margin: 0;
}

.fs3 {
	margin: 0;
	font-size: 2.7em;
}

.bannerimg {
	width: 100%;
}

footer {
	padding: 2%;
	color: white;
	background-color: #11293D;
}

.fbtw {
	width: 3em;
	height: 3em;
	border: solid 1px;
	padding: 2%;
	margin: 3%;
}

.mgt0 {
	margin-right: -5%;
}




/* CONTACTO */ 


#hdr1 {
	background-image: url("../image/large.jpg");
	background-repeat:repeat;
	height: 750px;
	background-size: cover;
}

#bgt1 {
	background-color: rgba(0, 0, 0, .3);
	height: 100%;

}

form {
	background-color: rgba(250, 250, 250, .8);
	width: 50%;
	height: 40%;
	margin: 10% 25%;
	padding: 2%;
	border-top: 5px solid #5bc0de;
}

.titleform {
	border-bottom: solid 1px black;
}

textarea {
	width: 100%;
	min-height: 100px;
	max-height: 200px;
	max-width: 100%;
}

.txtnone {
	text-decoration: none;
}

.mgl15 {
	float: right;
}